entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["sqlite"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 4000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 7038442
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --no-deprecation index.js"

[[workflows.workflow]]
name = "Run Debug"
author = 7038442
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node --trace-deprecation index.js"
